@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto align-items-center login-menu">

	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item me-3">
			<span class="nav-link user-greeting">Olá, @User.Identity?.Name!</span>
		</li>

		<li class="nav-item">
			<form method="post"
				  asp-area="Identity"
				  asp-page="/Account/Logout"
				  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="btn btn-logout-nav">Sair</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item me-2">
			<a class="btn btn-login-nav" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
		</li>

		<li class="nav-item">
			<a class="btn btn-register-nav" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
		</li>
	}

</ul>
