@{
	ViewData["Title"] = "Sobre Nós";
}
<body>
	<div
		<div class="row d-flex justify-content-center" style="margin-bottom: 100px; margin-top: 110px">
			<img src="~/img/BeneficalightHeader.png" alt="Banner" style="height: 200px; width: 1000px" />
			<p class="text-center mt-4">Explore o futuro com BENEFICALIGHT</p>
			
		</div>
		<div>
			<img src="~/img/FloresBanner.png" alt="Alternate Text" style="height: 300px; width: 1920px" />
		</div>
	</div>
	<div class="row justify-content-around mt-5">
		<div class="col-5">
			<h1 class="fw-bold" style="letter-spacing: 5px">Tratamento e Meios</h1>
			<p style="text-align: justify">O tratamento fotodinâmico com LED vermelho oferece uma combinação poderosa entre tecnologia acessível e resultados clínicos consistentes. A luz vermelha, na faixa terapêutica correta, estimula a regeneração celular, favorece a cicatrização de feridas e melhora a circulação local, acelerando processos naturais do organismo. Além disso, contribui para a redução de inflamações, alivia dores e promove um equilíbrio metabólico que beneficia pacientes com condições crônicas ou pós-operatórias. Por ser um método não invasivo, seguro e indolor, torna-se ideal para uso contínuo e em diversos contextos clínicos. Ele também se destaca pela eficiência energética e pela possibilidade de aplicação portátil, o que amplia o acesso ao cuidado terapêutico mesmo em regiões com poucos recursos. Assim, o tratamento une eficácia comprovada com simplicidade de uso, democratizando tecnologias de saúde antes restritas a ambientes hospitalares.</p>
		</div>

		<div class="col-5">
			<h1 class="fw-bold" style="letter-spacing: 5px">Missão Social</h1>
			<p style="text-align: justify">O BeneficaLight nasce como um gesto de cuidado, inclusão e dignidade, levando tecnologia terapêutica a pessoas que muitas vezes não têm acesso a tratamentos convencionais. Ao desenvolver dispositivos acessíveis e portáteis, o projeto reduz barreiras sociais e econômicas, permitindo que pacientes vulneráveis recebam atenção contínua e de qualidade. Além do benefício clínico, o projeto fortalece laços comunitários, capacita profissionais e entrega autonomia aos usuários, que passam a sentir-se protagonistas de sua própria recuperação. O impacto humano se revela na melhora da autoestima, na redução de sofrimento e no sentimento de acolhimento presente em cada etapa do processo. Mais do que um recurso tecnológico, o BeneficaLight representa um movimento de empatia e inovação social, criando uma ponte entre ciência, cuidado e justiça no acesso à saúde.</p>
		</div>
	</div>
	<div class="justify-content-center d-flex" style="margin-top: 100px">
		<div>
			<img src="~/img/ColeteFlorido.png" alt="Colete" style="height: 500px; width: 500px" />
		</div>

		<div>
			<h1>
			</h1>
			<p>

			</p>
		</div>
	</div>
</body>
