@{
	ViewData["Title"] = "Sobre Nós";
}
<body>
	<div
		<div class="mb-5 mt-5 d-flex justify-content-center">
			<img src="~/img/BeneficalightHeader.png" alt="Banner" style="height: 200px; width: 1000px" />
		</div>
		<div>
			<img src="~/img/FloresBanner.png" alt="Alternate Text" style="height: 400px; width: 1920px" />
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<p></p>
		</div>

		<div class="col-6">
		</div>
	</div>
</body>
