@{
	ViewData["Title"] = "Sobre Nós";
}
<div class="w-100">
	<div>
		<!-- Div responsável pelos banners do header -->
		<div class="row d-flex flex-column align-items-center text-center w-100 my-5">

			<div class="col-12 col-md-10 col-lg-8">
				<img src="~/img/BeneficalightHeader.png" alt="Banner" class="img-fluid" style="max-height: 200px; object-fit: contain;">
			</div>
			<p class="mt-4 fw-bold" style="letter-spacing: 3px;">Explore o futuro com BENEFICALIGHT</p>
		</div>
		<div class="row d-flex justify-content-around mb-5 ">
			<p class=" mt-4 col-6" style="text-align: justify; text-justify: inter-word">A BENEFICALIGHT é uma empresa criada para promover alívio, dignidade e qualidade de vida a pacientes em tratamento contra o câncer. Surge da vivência de seus fundadores, que sentiram de perto a dor da doença, e transformaram essa experiência em inovação. A startup desenvolve um colete terapêutico com LEDs de 630 nm, sensores inteligentes, assistente de IA e faixa EEG, oferecendo uma forma não invasiva, acessível e humanizada de apoio ao tratamento oncológico — desde os primeiros estágios até os cuidados paliativos.</p>
		</div>

		<div class="position-absolute p-0 m-0 start-0 w-100">
			<img src="~/img/FloresBanner.png" alt="Alternate Text" class="w-100 position-relative top-0 start-0 object-fit-cover" style="height: 300px; width: 1920px" />
		</div>
	</div>
	<div class="row justify-content-around" style="margin-top:400px">
		<!-- Div com 2 cards explicativos de Tratamentos e Impactos -->
		<div class="col-10 col-lg-5">
			<h1>Tratamento e Meios</h1>
			<p style="text-align: justify">
				<strong>O tratamento fotodinâmico com LED vermelho oferece uma combinação poderosa entre tecnologia acessível e resultados clínicos consistentes.</strong> A luz vermelha, na faixa terapêutica correta, estimula a regeneração celular, favorece a cicatrização de feridas e melhora a circulação local, acelerando processos naturais do organismo. Além disso, contribui para a redução de inflamações, alivia dores e promove um equilíbrio metabólico que beneficia pacientes com condições crônicas ou pós-operatórias. Por ser um método não invasivo, seguro e indolor, torna-se ideal para uso contínuo e em diversos contextos clínicos. Ele também se destaca pela eficiência energética e pela possibilidade de aplicação portátil, o que amplia o acesso ao cuidado terapêutico mesmo em regiões com poucos recursos. Assim, o tratamento une eficácia comprovada com simplicidade de uso, democratizando tecnologias de saúde antes restritas a ambientes hospitalares.
			</p>
		</div>

		<div class="col-10 col-lg-5">
			<h1 class="text-wrap">Missão Social</h1>
			<p style="text-align: justify">
				O BeneficaLight nasce como um gesto de cuidado, inclusão e dignidade, levando tecnologia terapêutica a pessoas que muitas vezes não têm acesso a tratamentos convencionais. Ao desenvolver dispositivos acessíveis e				portáteis, o projeto reduz barreiras sociais e econômicas, permitindo que pacientes vulneráveis recebam atenção contínua e de qualidade. Além do benefício clínico, o projeto fortalece laços comunitários, capacita				profissionais e entrega autonomia aos usuários, que passam a sentir-se protagonistas de sua própria recuperação. O impacto humano se revela na melhora da autoestima, na redução de sofrimento e no sentimento de					acolhimento presente em cada etapa do processo. Mais do que um recurso tecnológico, o BeneficaLight representa um movimento de empatia e inovação social, criando uma ponte entre ciência, cuidado e justiça no						acesso à saúde.
			</p>
		</div>

		<div class="container mb-5" style="margin-top: 70px; outline: 2px solid orange; border-radius: 33px">
			<div class="row align-items-center justify-content-lg-between justify-content-xl-around">
				<!-- Colete -->
				<div class="col-md-12 col-lg-5 text-center order-0 order-md-0 mb-md-2 p-0 m-0">
					<img src="~/img/ColeteAtualizado.png" alt="Colete" class="img-fluid w-100 w-lg-auto">
				</div>
				<!-- Card -->
				<div class="col-12 col-lg-6 order-1 order-md-1 rounded-5 text-center p-3" style="background-color: linen;">
					<h1 class="mx-1 mt-4 text-center text-md-nowrap">Colete Terapêutico</h1>

					<div class="py-3 px-3 px-md-4 text-center">
						<p style="text-align: justify; font-size: 17px; margin-bottom: 0;">
							O colete BENEFICALIGHT é confeccionado com um tecido leve e flexível capaz de integrar componentes eletrônicos, incluindo micro-placas solares ultrafinas feitas de células fotovoltaicas de silício fino                             ou perovskita. Essas placas são distribuídas em áreas estratégicas — como ombros, peito e costas — para captar a máxima luz possível e alimentar uma bateria interna compacta, que sustenta o funcionamento dos LEDs terapêuticos, sensores de monitoramento e do módulo de IA. A energia gerada é otimizada por um controlador MPPT, garantindo estabilidade mesmo quando parte do colete está sombreada, resultando em um sistema sustentável, autônomo e eficiente para suportar as necessidades do tratamento fotodinâmico.
						</p>
					</div>

				</div>
			</div>
		</div>
		<div class="col-11 justify-content-around mt-5">
			<img class="w-100 rounded-4" src="/img/BannerFooter.png" alt="Banner Footer" />
			<div class="row justify-content-between mt-3">
				<p class="col-7 fw-bold fst-italic">"Tudo que é encontro verdadeiro ilumina, mesmo quando não percebemos na hora.”</p>
				<p class="col-2 text-end fw-bolder fst-italic">-Clarice Lispector</p>
			</div>
		</div>
	</div>
	<div class="row justify-content-evenly align-items-center d-flex" style="margin-top: 200px">
		<div class="col-2">
			<img src="~/img/BarraBeneficalight.png" alt="BarraBeneficalight" style="max-height: 900px; width: auto" />
		</div>
		<div class="col-7 align-items-center">
			<div class="d-flex justify-content-center align-items-center w-100">
				<div class="d-flex flex-column gap-5">
					<!-- Card 1 -->
					<div class="col-12 ">
						<img src="~/img/Materia1.png"
							 style="width:100%; max-width: 300px; height:auto;">
					</div>

					<!-- Card 2 (deslocado para a direita e para baixo) -->
					<div class="col-12">
						<img src="~/img/Materia3.png" style="width:100%; max-width:300px; height:auto;">
					</div>
				</div>
				<div>
					<!-- Card 3 (abaixo do Card 1) -->
					<div class="col-12 d-flex justify-content-end z-2 " style="margin-left:-40px">
						<img src="~/img/Materia2.png" style="width:100%; max-width:400px; height:auto;">
					</div>
				</div>

			</div>
		</div>
		<div class="col-11 justify-content-around mt-5">
			<img class="w-100 rounded-4" src="~/img/BannerBorboleta.png" alt="Brabuletas" />
		</div>
	</div>
	<div class="col pt-4" style="margin-top: 170px">
		<h1 class="text-center" style="font-weight: bolder; font-family: 'Times New Roman'; margin-bottom: 50px">BENEFICALIGHT GROUP</h1>
		<div class="d-flex align-items-center gap-5 mt-5">
			<img style="width: 400px; height: auto;" src="~/img/annaicone.png" />
			<div class="d-flex flex-column gap-4">
				<h1>Anna Julia Costa | Operações</h1>
				<p class="mx-1">
					Olá! Meu nome é Anna Julia e sou Gerente Operacional no BeneficaLight. No projeto, sou responsável por organizar e coordenar as atividades, garantindo que tudo aconteça de forma eficiente e que nossas ações tenham o máximo de impacto. Meu papel envolve planejamento, acompanhamento das equipes e soluções rápidas para manter o projeto funcionando da melhor maneira.
					Fora do BeneficaLight, sou apaixonada por música, cozinhar e desenhar. Adoro explorar minha criatividade nos meus hobbies, seja testando novas receitas ou fazendo desenhos por diversão. Também gosto de aproveitar momentos com amigos e família, e descobrir coisas novas que me inspirem no dia a dia.
					Participar do BeneficaLight me permite unir minha organização e atenção aos detalhes com uma causa que realmente importa, contribuindo para que o projeto cresça e faça diferença na vida das pessoas!!
				</p>
			</div>
		</div>

		<div class="d-flex align-items-center gap-4 flex-row-reverse  mt-5">
			<img style="width: 400px; height: auto;" src="~/img/PedroIcone.png" />
			<div class="d-flex flex-column gap-5 text-end">
				<h1>Pedro Urchella | Finanças</h1>
				<p class="mx-1">Sou Pedro Urchella, contador e gerente do departamento de finanças e burocracias ligadas a BeneficaLight. Gosto da parte de relatórios e experiências interpessoais, além de criar imaginar e escrever, advindo principalmente de minha afinidade pelas artes e áreas das ciências humanas. Fora do ramo profissional, gosto de estar rodeado de pessoas incríveis, gosto de consumir arte, sendo um assíduo consumidor de música; gosto de cozinhar, conhecer lugares novos e gosto de ir atrás de novos temas e curiosidades para expandir meu repertório.</p>
			</div>
		</div>
		<div class="d-flex align-items-center gap-4 mt-5">
			<img style="width: 400px; height: auto;" src="~/img/Yasmin.png" />
			<div class="d-flex flex-column gap-5">
				<h1>Yasmin de Biaze | Comunicação</h1>
				<p class="mx-1">
					Olá! Meu nome é Yasmin De Biaze e sou responsável pela área de Comunicação no BeneficaLight. Sou apaixonada por conectar pessoas, criar conteúdos e fortalecer relacionamentos, seja com sócios, parceiros ou com a comunidade do projeto. Adoro trabalhar na divulgação das nossas ações, garantindo que tudo que fazemos chegue de forma clara, criativa e envolvente para todos. Fora do projeto, sou uma pessoa curiosa e comunicativa. Adoro dançar, ler sobre psicologia e comportamento humano, e sempre busco aprender coisas novas que me inspirem a crescer pessoal e profissionalmente. Também gosto de passar tempo com amigos e família, explorar novos lugares e compartilhar momentos especiais com quem eu amo.
					Participar do BeneficaLight me dá a oportunidade de unir minhas paixões com uma causa que realmente importa, colocando minha criatividade, organização e energia em prática todos os dias!!
				</p>
			</div>
		</div>
	</div>
</div>
