:root {
    --verde-neon: #4FFF90; /* detalhe */
    --verde-escuro: #23421F; /* cor principal */
    --roxo: #4B006B; /* detalhe */
    --bege: #EDE6DB; /* cor principal / fundo */
    --cinza-escuro: #454545;
    --cinza-claro: #F2F2F2;
    --branco: #FFFFFF;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: var(--branco); /* fundo suave */
    color: var(--cinza-escuro);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Broadway;
    font-weight: bold;
    color: #252525;
    font-style: italic;
    letter-spacing: 3px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Rodapé */
footer {
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-align: center;
    padding: 20px 0;
}

/* Card 1 */
.card-1 {
    z-index: 2;
}

nav a:hover {
    color: var(--verde-escuro);
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

.btn-primary {
    background-color: var(--verde-escuro);
    color: var(--branco);
}

    .btn-primary:hover {
        background-color: var(--verde-escuro);
        color: var(--branco);
    }

.btn-secondary {
    background-color: var(--roxo);
    color: var(--branco);
}

/* Container das imagens em camadas */
.image-stack {
    position: relative;
    width: 280px; /* ajuste conforme desejar */
    height: 170px;
}

/* imagens dentro do stack */
.stack-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0px 6px 16px rgba(0,0,0,0.25);
}

/* imagem de trás */
.img-back {
    transform: rotate(-2deg);
    left: -20px;
    top: 10px;
    z-index: 1;
}

/* imagem da frente */
.img-front {
    transform: rotate(2deg);
    right: -8px;
    top: -8px;
    z-index: 2;
}
