html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Container das imagens em camadas */
.image-stack {
    position: relative;
    width: 280px; /* ajuste conforme desejar */
    height: 170px;
}

/* imagens dentro do stack */
.stack-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0px 6px 16px rgba(0,0,0,0.25);
}

/* imagem de trás */
.img-back {
    transform: rotate(-2deg);
    left: -60px;
    top: 10px;
    z-index: 1;
}

/* imagem da frente */
.img-front {
    transform: rotate(2deg);
    right: -8px;
    top: -8px;
    z-index: 2;
}

.produto-card .text-start {
    margin-right: 20px; /* OU qualquer valor que fique bom */
}

.produto-card .card-body {
    align-items: stretch !important;
}

.produto-card button {
    align-self: center;
}
