:root {
    --verde-neon: #4FFF90; /* detalhe */
    --verde-escuro: #23421F; /* cor principal */
    --roxo: #4B006B; /* detalhe */
    --bege: #EDE6DB; /* cor principal / fundo */
    --cinza-escuro: #454545;
    --cinza-claro: #F2F2F2;
    --branco: #FFFFFF;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: var(--branco); /* fundo suave */
    color: var(--cinza-escuro);
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    color: var(--branco);
    padding: 15px 30px;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-align: center;
    padding: 20px 0;
}

/* Navegação */
nav a {
    color: var(--bege);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

    nav a:hover {
        color: var(--verde-escuro);
    }

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

.btn-primary {
    background-color: var(--verde-escuro);
    color: var(--branco);
}

    .btn-primary:hover {
        background-color: var(--verde-escuro);
        color: var(--branco);
    }

.btn-secondary {
    background-color: var(--roxo);
    color: var(--branco);
}

    .btn-secondary:hover {
        background-color: var(--verde-escuro);
        color: var(--verde-escuro);
    }

/* Inputs de formulário */
input, select, textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--verde-escuro);
    border-radius: 6px;
    width: 100%;
    background-color: var(--bege);
    color: var(--cinza-escuro);
}

    input:focus, select:focus, textarea:focus {
        border-color: var(--verde-escuro);
        outline: none;
    }

/* Links */
a {
    color: var(--verde-escuro);
    text-decoration: none;
}

    a:hover {
        color: var(--roxo);
        text-decoration: underline;
    }
